.categories-div {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#Progress_Status {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#myprogressBar {
    width: 0%;
    height: 35px;
    line-height: 32px;
    border-radius: 10px;
}

