{% extends 'warning.html' %}

{% block content %}

<form id="player_form">
    <p data-i18n="add-player">{{ gettext('add-player') }}</p>:<br>
    <input type="text" id="playerName"></input>
    <button id="addPlayer" data-i18n="add">{{ gettext('add') }}</button>
</form>

<table class="child" id="table">

    {%for i in range(0, len)%}

    <tr>
        <td>{{i}}</td>
        <td>{{players[i]}}</td>
        <td><button class="removeButton", id="{{i}}" data-i18n="remove">{{ gettext('remove') }}</button></td>

        {%endfor%}

    </tr>

</table>

<form id="startGame">
    <button id="startButton" data-i18n="start">{{ gettext('start') }}</button>
</form>

<script src="{{ url_for('static', filename='js/lobby.js') }}" defer></script>

{% endblock %}