/* 
* {
    outline: 1px solid red;
} */

.category-wrapper {
    position: relative;
    text-align: left;
    float: left;
}

.category {
    position: relative;
    width: 100%;
}

.extra-info {
    display: none;
    line-height: 30px;
    font-size: 15px;
    position: relative;
    top: 0;
    left: 0px;
}

.info:hover .extra-info {
    display: block;
}

.info-wrapper {
    position: relative;
    float: left;
    width: 325px;
    height: 20px;
    margin-left: 25px;
}

.info {
    transition: all 0.5s ease-out;
    position: absolute;
    text-align: left;
    width: 20px;
    float: right;
    top: 0px;
    left: 0px;
    padding-right: 300px;
    font-size: 20px;
    border-radius: 15px;
    z-index: 1;
}

.info:hover {
    background-color: white;
    padding: 0 0 0 5px;
    width: 325px;
    z-index: 2;
}