{% extends 'index.html' %}

{% block content_placeholder %}
<div>
    Bonjour! <br>
    Dakujem, ze si navstivil moju stranku! Ber vsak prosim na vedomie, ze neberiem ziadnu
    zodpovednost za spravnu funkcnost tejto stranky a zaroven za to, co sa vam moze stat
    pocas hry, pokial sa rozhodnete si ju zahrat.<br>
    V podstate by ste sa tu ani nemali nachadzat ze ano.😉<br>
    Poprosim Vas nehladajte ine hry prehladavanim mien a nekazte inym hry,
    inak sa budete musiet prihlasovat 🙁<br>
    Zaroven pouzivam 🍪, cize pri pokracovani potvrdzujete, ze ich mozem pouzivat.<br>
    Hlavne pite s rozumom a myslite na maminy!<br>
    Enjoy & Have fun🍷!.
</div>
<div>
    <button id="confirm">Potvrdzujem</button>
</div>
{% endblock %}