<!DOCTYPE html>

<html>

<head>
    <title>Party game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pub.css') }}">
<link rel="stylesheet" id="background" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>


<body>
    <div class="area">
        <div class="home">
            <button class="home-btn"><img style="z-index: -1;" src="{{url_for('static', filename='image/home-button.png')}}"></button>
        </div>

        <div class="context" id="content_placeholder">
            {% block content_placeholder %}
            {% endblock %}
        </div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>