{% extends 'warning.html' %}

{% block content %}
<form id="submit_form">
    Game name:<br>
    <input type="text" id="gameName"></input>
    <br>
    <button id="button">Start</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    $("#submit_form").submit(function (e) {
        e.preventDefault();

        var name = $("#gameName").val();

        $.ajax({
            url: "/login",
            type: "post",
            data: { gameID: name },
            success: function (response) {
                $("#content_placeholder").html(response);
            },
            error: function (xhr) {
                //Do Something to handle error
                console.log("error")
            }
        });
    });
</script>

{% endblock %}