{% extends 'index.html' %}

{% block content_placeholder %}
<div>
    Bonjour! <br>
    Ďakujem, že si navštívil moju stránku! Ber však prosím na vedomie, že neberiem žiadnu
    zodpovednosť za správnu funkčnosť tejto stránky a zároveň za to, čo sa vám môže stať
    počas hry, pokiaľ sa rozhodnete si ju zahrať.<br>
    V podstate by ste sa tu ani nemali nachádzať, nakoľko to je moja súkromná zábavka, že áno.😉<br>
    Poprosím Vás nehľadajte iné hry prehľadávaním mien a nekazte tak zábavu iným,
    inak sa budete musieť eventuélne prihlasovať 🙁. A to nikto nechce.<br>
    Zároveň asi musím upozorniť, že používam 🍪, čiže pri pokračovaní potvrdzujete, že ich môžem používať.<br>
    Hlavne pite s rozumom a myslite na maminy!<br>
    Enjoy & Have fun🍷!
</div>
<div>
    <button id="confirm">Potvrdzujem</button>
</div>
{% endblock %}
