{% extends 'index.html' %}
{% block content_placeholder %}
<div>
    Bonjour! <br>
    {{ gettext('Thank you for visiting my game website! But please note I do not take any responsibility for correct functionality of this website nor for what can happen to you while playing this game, if you decide to do so.') }}<br>
    {{ gettext('Please do not search different game names and if you collide pick a new name. Do not ruin fun of others, otherwise you will have to log in') }} 🙁. {{ gettext('And noone wants that.') }}<br>
    {{ gettext('Also I should let you know I am using') }} 🍪, {{ gettext('so by continuing you agree I am allowed to use them.') }}<br>
    {{ gettext('Drink responsibly and think about your moms!') }}<br>
    Enjoy & Have fun🍷!
</div>
<div>
    <button id="confirm">{{ gettext('I agree') }}</button>
</div>
{% endblock %}
