{% extends 'title.html' %}

{% block content_placeholder %}
<div class="content">
    <div class="child">
        {% block header %}
        {% endblock %}
    </div>
    <div class="child">
        {% block table %}
        {% endblock %}
    </div>
    <div class="child">
        {% block body %}
        {% endblock %}
    </div>
    <div class="child">
        {% block price %}
        {% endblock %}
    </div>
    <div class="child">
        {% block timer %}
        {% endblock %}
    </div>
    <div class="child">
        {% block footer %}
        {% endblock %}
    </div>
</div>
{% endblock %}