{% extends 'warning.html' %}

{% block content %}

<div class="categories-div">
    <form id="categories_form">
        {% for category in categories %}
        <div class="category">
            <div class="category-wrapper">
                <input type="checkbox" class="checkbox" id="{{ category['name'] }}" name="{{ category['name'] }}"
                    value="{{ category['name'] }}" {% if category['name'] in selected %} checked {% endif %}>
                <label for="{{ category['name'] }}">{{ category['title'] }}</label>
            </div>
            <div class="info-wrapper">
                <div class="info">
                    <i><img alt="More info" style="width: 30px; height: auto;"
                            src="{{url_for('static', filename='image/info-button.png')}}"></i>
                    <span class="extra-info">
                        {{ category['description'] }}
                    </span>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
        <div class="category-wrapper" style="margin-left: 75px;">
            <button id="button" style="width: 100px;" data-i18n="next">{{ gettext('next') }}</button>
        </div>
        <script>
            $(document).ready(function () {
                $('.info-wrapper').css('height', $('.category-wrapper').height());
                $('.category').css('height', $('.category-wrapper').height());

                var max = 0;
                $('.category-wrapper').each(function (i) {
                    if (max < $(this).width()) {
                        max = $(this).width();
                    }
                });
                console.log(max);
                $('.category-wrapper').css('width', max);
            });
        </script>
    </form>
</div>

<script src="{{ url_for('static', filename='js/categories.js') }}" defer></script>

{% endblock %}