<!DOCTYPE html>

<html lang="en">

<head>
    <title>Party drinking game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Customizable multi-mode drinking game for when you want to have fun with friends! Come and see for yourself.">
</head>

<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}" defer>
<link rel="stylesheet" href="{{ url_for('static', filename='css/task.css') }}" defer>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pub.css') }}" defer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer></script>
<script src="{{ url_for('static', filename='js/common.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/CLDRPluralRuleParser.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.messagestore.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.fallbacks.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.language.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.parser.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.emitter.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/i18n/jquery.i18n.emitter.bidi.js') }}" defer></script>


<body>
    <div class="area" id="area">
        <div class="home">
            
            <button class="home-btn"><img alt="Home" style="z-index: -1;" src="{{url_for('static', filename='image/home-button.png')}}"></button>
            <p id="title"></p>
            
            <select class="language" id="language" onchange="languageChange()">
            </select>

        </div>

        <div class="context" id="content_placeholder">
            {% block content_placeholder %}
            {% endblock %}
        </div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <footer class="footer">
            &copy; 2023 Huginn
        </footer>
    </div>
</body>
</html>