{% extends 'base-game.html' %}

{% block body %}
    {{task | safe}}
{% endblock %}

{% block footer %}

{% if noButton is not defined %}
<button id="nextMove">{% if buttonName is defined %} {{buttonName}} {% else %}{{ gettext('next-task') }}{% endif %}</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    $("#nextMove").on('click', function (e) {
        e.preventDefault();
        nextMove();
    });
    
    
</script>
{% endif %}

{% endblock %}