{% extends 'base-game.html' %}

{% block body %}
    {{ task | safe }}
{% endblock %}

{% block price %}

{% if price is defined %}
{% if price > 0 %}
<p>
    {{message}}{% for i in range(price) %}<img alt="One shot to drink" src="{{url_for('static', filename='image/shot.png')}}">{% endfor %}
</p>
{% endif %}
{% endif %}

{% endblock %}

{% block timer %}
{% if timer is defined %}
<div class="child" id="Progress_Status">
    <div id="myprogressBar" />
</div>
{% endif %}

<script type="text/javascript">
    var timer;
    {% if timer is defined %}

    // Copied from https://ourcodeworld.com/articles/read/1627/how-to-easily-generate-a-beep-notification-sound-with-javascript
    function beep() {
        return new Promise((resolve, reject) => {
            duration = 150;
            frequency = 440;
            volume = 15;

            try {
                let oscillatorNode = myAudioContext.createOscillator();
                let gainNode = myAudioContext.createGain();
                oscillatorNode.connect(gainNode);

                oscillatorNode.frequency.value = frequency;

                oscillatorNode.type = "square";
                gainNode.connect(myAudioContext.destination);

                gainNode.gain.value = volume * 0.01;

                oscillatorNode.start(myAudioContext.currentTime);
                oscillatorNode.stop(myAudioContext.currentTime + duration * 0.001);

                oscillatorNode.onended = () => {
                    resolve();
                };
            } catch (error) {
                reject(error);
            }
        });
    }

    function startTimer() {

        document.getElementById("startTimer").disabled = true;
        document.getElementById("nextMove").focus();

        var totalTime = {{ timer }} * 100;
        var time = totalTime;
        const treshold = 0.5
        timer = setInterval(function () {
            var width = ((totalTime - time) / totalTime)
            $("#myprogressBar").css('width', width * 100 + '%')

            
            // color change on progress bar starts after treshold
            if (width > treshold) {
                var intensity = ( width - treshold) / treshold
                $("#myprogressBar").css('background-color', 'rgba(' + (210 + 30 * intensity) + ',' + (110 - 80 * intensity) + ',' + (255 - 225 * intensity) + ',' + (0.8 + 0.15 * intensity) + ')');
            }
            else
                $("#myprogressBar").css('background-color', 'rgba(210,110,255,0.8)');

            --time || (clearInterval(timer), beep());
        }, 10);
        };

    {% endif %}
</script>
{% endblock %}

{% block footer %}
{% if timer is defined %}
<button id="startTimer" onclick="startTimer();">{{ gettext('start-time') }}</button>
{% endif %}
{% if noButton is not defined %}
<button id="nextMove">{{ gettext('next-task') }}</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    $("#nextMove").on('click', function (e) {
        e.preventDefault();
        {% if timer is defined %}
        clearInterval(timer);
        {% endif %}
        nextMove();
    });


</script>
{% endif %}
{% endblock %}